.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 1080px;
}
.hero-line{
    margin-top: 5%;
    position: absolute;
    /* top: 500px; */
    left: 0;
    width: 100%;
    z-index: -1;
}
.hero-line img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}
.title_img{
    margin-top: 20%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 99;
}
.title_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 373∶112;
}