.web{
    position: relative;
}
.web-line{
    position: absolute;
    top: -7%;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.web-line img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.project-wrap{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 3%;
}
